/* login.css */

body {
  margin: 0; /* Remove default body margin */
}

.background-container {
  background-image: url('background.png'); /* Replace with the actual path to your background image */
  background-size: cover;
  background-position: center;
  height: 200vh; /* Set the height to fill the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(8, 121, 51, 0.2); /* Use rgba for background color with opacity */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(72, 216, 6, 0.2);
  text-align: center;
  position: relative; /* Set position to relative */
}

.login-label {
  display: block;
  margin-bottom: 18px;
}

.login-input {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #4c08ec;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  background-color: #deebe5;
  color: #5c0202;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  position: absolute; /* Set position to absolute */
  bottom: 10px; /* Adjust bottom position as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.login-button:hover {
  background-color: #04680e;
}